
<template>
    <!-- Content Header (Page header) -->
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee Registration</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Employees List</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="employee in employees">
                    <td>{{employee.title}}</td>
                    <td>{{employee.fname}}</td>
                    <td>{{employee.lname}}</td>
                    <td>{{employee.email}}</td>
                    <td>
                      
                      <router-link class="btn btn-warning btn-sm" :to="'employee_edit/'+employee.id" data-toggle="tooltip" title="Edit"><i class="fas fa-user-edit"></i></router-link>
                      <!-- <button class="btn btn-warning btn-sm" @click="editEmployee($event)" v-bind:id="employee.id"><i class="fas fa-user-edit"></i></button>     -->
                      <button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt" @click="deleteEmployee($event)" v-bind:id="employee.id"></i></button>
                      </td>
                  </tr>
                  
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                  </tfoot>
                </table>

              </div>
                <!-- /.card-body -->

                <div class="card-footer">
                 
                </div>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            
            <!-- /.card -->

            <!-- Input addon -->
            
            <!-- /.card -->
            <!-- Horizontal Form -->
            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
          
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

</template>
<script>
import urlConstant from './../../urlconstant';
export default {
  data(){
    return{
      employees:[]
    }
  },
  created(){
    axios.get(urlConstant.serverUrl+"/api/employee_list")
        .then((resp)=>{
      this.employees=resp.data.allemployees;
        })

// this.$http.post("http://localhost:8000/api/employee_store",this.employee)
    // this.$http.get("http://localhost:8000/api/employee_list")
    // .then(function(response){
    //   this.employees=response.body.allemployees;
    // })


  },
  methods:{
    deleteEmployee(event){
      axios.delete(urlConstant.serverUrl+"/api/employee_delete/"+event.target.id)
      .then((resp)=>{
        var position= this.employees.findIndex(function(element){
          return element.id==event.target.id;
        })
        this.employees.splice(position,1)
      console.log(response)

      })
    }
  //   editEmployee(event){
  // this.$router.push('/employee_edit')
  //   }
  }
};
</script>