<template>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee Registration</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">New Employee</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
        <form class="form-horizontal" @submit.prevent="submitForm">
                <div class="card-body">
                  <div class="form-group">
    <label for="fname">Title </label>
    <select name="title" id="title" class="form-control col-md-3" v-model="employee.title">
      <option>Select Title</option>
      <option value="Mr.">Mr.</option>
      <option value="Mr.">Mrs.</option>
      <option value="Mr.">Ms.</option>
    </select>
  </div>
                  <div class="form-group">
    <label for="fname">First Name </label>
    <input autofocus type="text" class="form-control" id="fname" name="fname" placeholder="First Name" v-model="employee.fname">
    
  </div>
  <div class="form-group">
    <label for="lname">Last Namee</label>
    <input type="text" class="form-control" id="lname" placeholder="Last Name" v-model="employee.lname">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email" v-model="employee.email">
  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"
  v-show="employee.fname && employee.lname"
  >Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            
            <!-- /.card -->

            <!-- Input addon -->
            
            <!-- /.card -->
            <!-- Horizontal Form -->
            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
          
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

</template>

<script>
export default {
    data(){
        return{
            employee:{
                title:'Select Title',
                fname:'',
                lname:'sahan',
                email:'s@gmail.com'
            }
        }
    },
    methods:{
        submitForm(){
            
this.$http.post("http://localhost:8000/api/employee_store",this.employee)
.then(function (response) {
  this.$router.push('/employee_list')
    // console.log(response)
})

        }
    }
}
</script>