<template>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee Update</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update Employee</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
        <form class="form-horizontal" @submit.prevent="update">
                <div class="card-body">
                  <div class="form-group">
    <label for="title">Title </label>
    <select name="title" id="title" class="form-control col-md-3" v-model="employee.title">
      <option>Select Title</option>
      <option value="Mr.">Mr.</option>
      <option value="Mrs.">Mrs.</option>
      <option value="Ms.">Ms.</option>
    </select>
  </div>
                  <div class="form-group">
    <label for="fname">First Name </label>
    <input autofocus type="text" class="form-control" id="fname" name="fname" placeholder="First Name" v-model="employee.fname">
    
  </div>
  <div class="form-group">
    <label for="lname">Last Namee</label>
    <input type="text" class="form-control" id="lname" placeholder="Last Name" v-model="employee.lname">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email" v-model="employee.email">
  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-warning"
  
  >Update</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            
            <!-- /.card -->

            <!-- Input addon -->
            
            <!-- /.card -->
            <!-- Horizontal Form -->
            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
          
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

</template>

<script>
import urlConstant from './../../urlconstant';
export default {
     created(){
         this.getData(this.$route.params.id,);
     },

     data(){
return{
    employee:{

    }
}
     },

     methods:{
         getData(id){
             axios.get(urlConstant.serverUrl+'/api/employee_edit/'+id)
             .then((response)=>{

this.employee=response.data.employee;

                //  console.log(response);
             })
         },
         update(){
axios.put(urlConstant.serverUrl+'/api/employee_update/'+this.$route.params.id,this.employee)
             .then((response)=>{

// this.employee=response.body.employee;
  this.$router.push('/employee_list')

                 console.log(response);
             })
         }
     }
}
</script>