<template>
    <div class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form  method="post" @submit.prevent="submitForm">
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email" v-model="login.email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" v-model="login.password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <!-- <input type="hidden" name="device_name" value="laptop" v-model="login.device_name"> -->
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-0">
        <router-link to="register" class="text-center">Register a new membership</router-link>
        <!-- <a href=""></a> -->
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

</div>
</template>
<script>
import urlConstant from './../../urlconstant';
export default {
  
  data(){
    return{
      login:{
        email:'',
        password:'',
        device_name:'laptop'
      }
    }
  },
  
  methods:{
    submitForm(){
      axios.post(urlConstant.serverUrl+"/api/login",this.login)
      .then(function (response) {
        alert('here');
        window.location.href = '/employee_list';
        this.$router.push('/employee_list')
        console.log(response);
      })
  .catch(function (error) {
    // handle error
    console.log(error);
  });
    }
  }
}
</script>