<template>
    <div class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
          
      <!-- <a class="h1" v-model="common.business_name"></a> -->
    </div>
    <div class="card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form @submit.prevent="submitForm" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Full name" v-model="register.name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" v-model="register.email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" v-model="register.password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

        <router-link to="login" class="text-center">I already have a membership</router-link>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

</div>
</template>
<script>
// import urlConstant from './'
var urlConstant = require('./../../urlconstant');
var userService = require('./../../services/userService');
export default {
  
  data(){
    return{
      register:{
        email:'',
        password:'',
        name:''
      }
    }
  },
  
  methods:{
    submitForm(){
            
this.$http.post("http://localhost:8000/api/register",this.register)
.then(function (response) {
  this.$router.push('/login')
    // console.log(response)
})

        }
  }
}
</script>